<ion-header>
  <ion-navbar>
    <!--button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button-->
    <ion-title>quitNoise</ion-title>
    
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label>¿Cuando quieres relajarte?</ion-label>

    
    <ion-datetime displayFormat="MMM DD, YYYY" [(ngModel)]="myDate"></ion-datetime>

    <ion-select interface="popover" [(ngModel)]="timeOfDay">
        <ion-option value="1" selected="true">diurno</ion-option>
        <ion-option value="2">vespertino</ion-option>
        <ion-option value="3">nocturno</ion-option>
    </ion-select>
    
    <ion-icon name="calendar" item-right></ion-icon>
    
  </ion-item>
  <!-- this creates a google map on the page with the given lat/lng from -->
  <!-- the component as the initial center of the map: -->
  <agm-map  [zoom]="14" [latitude]="lat" [longitude]="lng">
    
    <agm-marker *ngFor="let item of parkLocations" [latitude]="item.location.latitude"[longitude]="item.location.longitude" [title]="item.title" iconUrl="assets/imgs/park.png">
      <agm-info-window>
        <strong>{{item.title}}</strong>
      </agm-info-window>
    </agm-marker>
    <agm-marker 
      [latitude]="lat" [longitude]="lng"
      iconUrl="assets/imgs/user.png">
    </agm-marker>

    <agm-marker *ngFor="let item of locations" 
      [latitude]="item.lat" [longitude]="item.lng">
    </agm-marker>

    <agm-circle *ngFor="let sound of soundReceptors" [latitude]="sound.location.latitude" [longitude]="sound.location.longitude" 
      [radius]="1000"
      [fillColor]="sound.color"
      fillOpacity="0.5"
      [circleDraggable]="false"
      [editable]="falses">
    </agm-circle>

</agm-map>
<button ion-button full outline (click)="getNoises()">Visualizar ruido!!!</button>
  <button *ngIf="!showParks"ion-button full outline (click)="show()">Mostrar parques</button>
  <button *ngIf="showParks"ion-button full outline (click)="hide()">Ocultar parques</button>
</ion-content>
